<div class="bg-[#1064A6] p-2.5 grid grid-cols-1 md:grid-cols-12 items-center text-center">
    <!-- Primera columna: logo y toggle de tema -->
    <div class="md:col-span-3 flex justify-between items-center">
        <img src="assets/logos/logo.png" alt="Logo" class="max-h-[40px]">
        <img class="max-h-[60px]" (click)="toggleTheme()"
            [src]="isDarkMode ? 'assets/icons/solgaleoCoin.png' : 'assets/icons/lunalaCoin.png'" alt="Theme Icon">
        <p></p>
    </div>
    <!-- Segunda columna: buscador -->
    <div class="md:col-span-6">
        <form class="max-w-3/4 mx-auto flex items-center justify-between space-x-2" role="search" (submit)="onSearch()">
            <div class="w-5/6">
              <input
                type="search"
                id="default-search"
                placeholder="Search"
                [(ngModel)]="searchTerm"
                name="search"
                required
                class="w-full px-6 py-2 text-sm text-gray-900 border border-slate-950 rounded-full bg-white focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <button class="cursor-pointer bg-blue-500 text-white px-6 py-2 w-1/6 rounded-xl border-blue-600
            active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
              Search
            </button>
          </form>
          
    </div>
    <!-- Tercera columna: cuenta, devoluciones y cesta -->
    <div class="md:col-span-3">
        <div class="flex justify-evenly text-white">
            <div class="text-center">
                <p class="m-0">Hola, Identifícate<br><strong>Cuenta y listas</strong></p>
            </div>
            <div class="text-center">
                <p class="m-0">Devoluciones<br><strong>y Pedidos</strong></p>
            </div>
            <div class="flex items-center text-center">
                <img src="assets/icons/cart.png" alt="Carrito" class="max-h-[30px] mr-[5px]">
                <strong>Cesta</strong>
            </div>
        </div>
    </div>
</div>