body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


.col-md-3, .col-md-6, .col-md {
    max-width: 100%;
    padding: 0;
}


img {
    max-width: 100%;
    height: auto;
}


button.btn {
    padding: 6px 12px;
    background-color: #0247FE;
    color: white;
    border: none;
    white-space: nowrap;  /* Evita que el texto se rompa */
}

.account, .process, .cart {
    color: white;
    margin: 0;
    text-align: left;
}

.cart {
    position: relative;
}

/* Media Query para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .account, .process, .cart {
        font-size: 14px;
        margin: 5px 0;
    }
}

/* Media Query para pantallas más pequeñas (hasta 480px) */
@media (max-width: 480px) {
    .account, .process, .cart {
        font-size: 12px;
    }
}