<div class="container">
    <button class="btn left" (click)="move(-1)">&lt;</button>
    @if (sets.length > 0){
    @for (i of getVisibleIndices(); track i) {
    <div class="item">
        <div class="content" (click)="selectCategory(sets[i].id)">
            <img [src]="sets[i].images.logo" [alt]="sets[i].name">
            <p>{{ sets[i].name }}</p>
        </div>
    </div>
    }
    }
    @else{
    <p>Cargando sets...</p>
    }
    <button class="btn right" (click)="move(1)">&gt;</button>
</div>