<div class="relative flex min-h-screen items-center justify-center bg-gray-800 p-6 overflow-hidden"
    style="background: url('assets/backgrounds/pokemon-pixel-art-wallpaper-preview.jpg') center/cover no-repeat;">

    <!-- Charizard GIF (arriba) -->
    <img src="assets/backgrounds/charizard.gif" alt="Flying Charizard"
        class="absolute top-0 left-0 w-70 animate-marquee-1" />

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
        class="w-full max-w-sm bg-black/20 p-6 rounded-lg shadow-md transition duration-300 hover:bg-black/70">
        
        <div class="relative mb-4 flex flex-col">
            <label for="name" class="text-white mb-1">Nombre Completo</label>
            <input type="text" id="name" formControlName="name" placeholder="Tu nombre completo"
                class="w-full bg-transparent p-2 text-white border border-gray-400 rounded focus:outline-none" required />
            @if (registerForm.controls['name'].invalid && registerForm.controls['name'].touched) {
                <p class="text-red-500 text-sm mt-1">Nombre inválido</p>
            }
        </div>

        <div class="relative mb-4 flex flex-col">
            <label for="email" class="text-white mb-1">Correo Electrónico</label>
            <input type="email" id="email" formControlName="email" placeholder="ejemplo@email.com"
                class="w-full bg-transparent p-2 text-white border border-gray-400 rounded focus:outline-none" required />
            @if (registerForm.controls['email'].invalid && registerForm.controls['email'].touched) {
                <p class="text-red-500 text-sm mt-1">Correo inválido</p>
            }
        </div>

        <div class="relative mb-4 flex items-center border-b border-gray-400 py-2">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                placeholder="Contraseña" class="w-full bg-transparent p-2 text-white focus:outline-none" />
            <button type="button" (click)="togglePassword()" class="absolute right-2 text-gray-400">
                @if (!showPassword) {
                    <img src="assets/icons/eye.png" alt="Mostrar Contraseña" width="20" height="20" />
                } @else {
                    <img src="assets/icons/hidden.png" alt="Ocultar Contraseña" width="20" height="20" />
                }
            </button>
        </div>

        <div class="relative mb-4 flex items-center border-b border-gray-400 py-2">
            <input [type]="showPassword2 ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword"
              placeholder="Repetir Contraseña" class="w-full bg-transparent p-2 text-white focus:outline-none" />
            <button type="button" (click)="togglePassword2()" class="absolute right-2 text-gray-400">
              @if (!showPassword2) {
                <img src="assets/icons/eye.png" alt="Mostrar Contraseña" width="20" height="20" />
              } @else {
                <img src="assets/icons/hidden.png" alt="Ocultar Contraseña" width="20" height="20" />
              }
            </button>
          </div>
          
          @if (registerForm.hasError('mismatch') && registerForm.controls['confirmPassword'].touched) {
            <p class="text-red-500 text-sm mt-1">Las contraseñas no coinciden</p>
          }
          

        @if (registerForm.controls['password'].invalid && registerForm.controls['password'].touched) {
            <p class="text-red-500 text-sm mt-1">La contraseña debe tener al menos 6 caracteres</p>
        }

        @if (registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched) {
            <p class="text-red-500 text-sm mt-1">Confirmación de contraseña inválida</p>
        }

        <div class="relative mb-4 flex flex-col">
            <label for="accountType" class="text-white mb-1">Tipo de Cuenta</label>
            <select id="accountType" formControlName="accountType"
                class="w-full bg-transparent p-2 text-white border border-gray-400 rounded focus:outline-none" required>
                <option value="client">Cliente</option>
                <option value="seller">Vendedor</option>
            </select>
        </div>

        <div class="relative mb-4 flex items-center">
            <input type="checkbox" id="terms" formControlName="termsAccepted" class="text-white" required />
            <label for="terms" class="text-white text-sm ml-2">
              Acepto los 
              <a href="#" class="text-teal-300 hover:underline">términos y condiciones</a>
            </label>
        </div>
    
        <button type="submit"
            class="w-full bg-gradient-to-r from-teal-500 to-teal-400 py-2 text-white font-semibold rounded-lg hover:scale-105 transition-transform"
            [disabled]="registerForm.invalid">
            Registrarse
        </button>

        <div class="mt-4 text-center">
            <p class="text-gray-400 text-sm">¿Ya tienes cuenta? 
                <a (click)="goToLogin()" class="text-teal-300 hover:underline">Inicia sesión aquí</a>
            </p>
            <a class="text-teal-300 text-sm hover:underline" (click)="continueWithoutSession()">
                Seguir sin sesión
            </a>
        </div>
    </form>
  
    <!-- Pikachu GIF (abajo) -->
    <img src="assets/backgrounds/pikachu.gif" alt="Running Pikachu"
        class="absolute bottom-10 left-0 w-24 animate-marquee-2" />
    <img src="assets/backgrounds/emeraldHero.gif" alt="Running Hero"
        class="absolute bottom-5 left-0 w-30 animate-marquee-3" />

</div>
