@import "tailwindcss";

@theme{
    
}

body {
    background-color: white;
    color: black;
    width: auto;
}


body.dark-theme {
    background-color: #192229;
    color: white;
}

body.dark-theme .subBackground {
    background-color: #2a3b47;
}