@import "tailwindcss";


body {
    background-color: white;
    color: black;
}


body.dark-theme {
    background-color: #192229;
    color: white;
}

body.dark-theme .subBackground {
    background-color: #2a3b47;
}